<!-- lista_movimentacoes.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Lista de Movimentações</h1>
  <table>
    <thead>
      <tr>
        <th>Bem</th>
        <th>Tipo</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {% for movimentacao in movimentacoes %}
        <tr>
          <td>{{ movimentacao.bem.nome }}</td>
          <td>{{ movimentacao.tipo }}</td>
          <td>{{ movimentacao.data }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
