<!-- listar_departamentos.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Departamentos</h2>

  <a href="{% url 'adicionar_departamento' %}" class="btn btn-primary">Adicionar Novo Departamento</a>

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for departamento in departamentos %}
        <tr>
          <td>{{ departamento.nome }}</td>
          <td>{{ departamento.descricao }}</td>
          <td>
            <a href="{% url 'editar_departamento' departamento.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'excluir_departamento' departamento.id %}" class="btn btn-danger">Excluir</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">Nenhum departamento cadastrado.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
